.separator {
  background-color: white;
  margin: 30px 0 30px 0;
}

.line {
  display: flex;
  white-space: nowrap;
  font-family: Koulen;
  font-size: 20px;
  animation: marquee 25s infinite linear;
  width: 104vw;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110%);
  }
}