$bg-img: url("../../../public/images/backStack.svg");

@font-face {
  font-family: 'Gilroy-bold';
  src: url('../../../public/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../../../public/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('../../../public/fonts/Gilroy-Semibold.ttf');
}


.blockTitle {
  font-family: Koulen;
  color: azure;
  flex-shrink: 0;
  margin: 0 0 0 3rem;
  font-size: 2.6rem;
  font-style: normal;
  line-height: normal;
}

.blockTitle img {
  height: 1.9rem;
  margin: 0 0 0 0.5rem;
}

.cell {
  display: flex;
  justify-content: left;
  --cell-gap: 1.2rem;
  padding: 10px;
  border-radius: 1.7rem;
  gap: var(--cell-gap);
  margin: 0;
  background-color: rgba(104, 94, 94, 0.17);
  aspect-ratio: 2.2/1;
}

.stackContainer {
  display: flex;
  flex-direction: column;
}

.stackDescription {
  display: flex;
  width: 100%;
  margin-top: 7px;
  flex-direction: column;
  align-items: flex-start;
}

.star {
  width: 14%;
}

.gradient {
  background: radial-gradient(40rem at 10% 40%, rgba(139, 255, 250, 0.7) 0%, rgba(139, 255, 250, 0.7) 0%, rgba(139, 255, 250, 0.4) 0%, transparent);
  position: absolute;
  width: 100vw;
  height: 400vh;
  z-index: -1;

}

.stars {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-top: 5px;
  width: 90%;
}

.image {
  display: flex;
  --cell-gap: 1.2rem;
  margin-bottom: 0;
}

.board {
  --cell-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  border-radius: 2.1875rem;
  grid-gap: var(--cell-gap);
  padding: var(--cell-gap);
}

.board p {
  color: azure;
  font-family: Gilroy-Medium;
  margin: 0;
  font-size: clamp(12px, 4vw, 20px);
}

.FilledStar {
  stroke: #FFD700;
}