$bg-img : url("../../../public/images/backStack.svg");
.blockTitle{
    display: flex;
    color: azure;
    flex-shrink: 0;
    margin: 0 0 2rem 2rem;
    font-size: 3rem;
    font-style: normal;
    line-height: normal;
}


.cell {
    --cell-gap: 1.2rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: rgba(0, 0, 0, 0.29);
    margin: 0;
    min-width: 5rem;
}

.image {
    --cell-gap: 1.2rem;
    position: absolute;
    width: calc(((30vw) - (2 * var(--cell-gap))) / 3);
    margin-bottom: 0;
    min-width: calc(((18rem) - (2 * var(--cell-gap))) / 3);
}

.board {
    background-image: $bg-img;
    --cell-gap: 1.2rem;
    width: 30vw;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 2.1875rem;
    color: wheat;
    justify-content: stretch;
    align-items: stretch;
    gap: var(--cell-gap);
    padding: var(--cell-gap);
    min-width: 17rem;
}

