.pageContent {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pageTitle {
  font-family: Koulen;
  font-size: calc(1rem + 6vw);
  font-style: normal;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.Content {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

* {
  font-family: Koulen;
}