.socials {
  display: grid;
  grid-gap: 2rem;
  margin: 0;
  height: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}

.socials a {
  height: 20px;
}

@media screen and (max-width: 600px) {
  .socials {
    display: grid;
    grid-gap: 0.5rem;
    margin: 0;
    height: 1rem;
  }

  .socials a {
    height: 1rem;
  }
}
